schemas/radar_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Radarlar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Radar" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Adi" type="xs:string"/>
              <xs:element name="Uretici" type="xs:string" minOccurs="0"/>
              <xs:element name="FrekansBandi" type="xs:string"/>
              <xs:element name="GorevTipi" type="xs:string"/>
              <xs:element name="AntenTipi" type="xs:string"/>

              <xs:element name="PwUs" type="xs:float" minOccurs="0"/>
              <xs:element name="PrfHz" type="xs:float" minOccurs="0"/>
              <xs:element name="PriUs" type="xs:float" minOccurs="0"/>
              <xs:element name="ErpDbw" type="xs:float" minOccurs="0"/>
              <xs:element name="DarbeModulasyonu" type="xs:string" minOccurs="0"/>
              <xs:element name="DarbeEntegrasyonu" type="xs:string" minOccurs="0"/>

              <xs:element name="Notlar" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>