schemas/senaryo_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Senaryolar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Senaryo" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Adi" type="xs:string"/>
              <xs:element name="TarihIso" type="xs:date"/>
              <xs:element name="Konum" type="xs:string" minOccurs="0"/>
              <xs:element name="Amac" type="xs:string" minOccurs="0"/>
              <xs:element name="RadarId" type="xs:string" minOccurs="0"/>
              <xs:element name="TeknikIdList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TeknikId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SonucNitel" type="xs:string"/>
              <xs:element name="JsDb" type="xs:float" minOccurs="0"/>
              <xs:element name="MesafeKm" type="xs:float" minOccurs="0"/>
              <xs:element name="Notlar" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>